name: 'Release'
on:
  pull_request:
    branches:
      - 'develop'
jobs:
  release:
   runs-on: ubuntu-latest
   steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Install
      run: npm install
    - name: Build
      run: npm run build
    - name: Package
      run: npm run package
    - name: Determine Version
      id: determine_version
      uses: paulhatch/semantic-version@v4.0.2
      with:
        tag_prefix: "v"
        major_pattern: "(MAJOR)"
        minor_pattern: "(MINOR)"
        namespace: develop
        change_path: "."
        format: "${major}.${minor}.${patch}-prerelease${increment}"
    - name: Archive Release
      uses: thedoctor0/zip-release@main
      with:
        type: 'zip'
        filename: 'release.zip'
        exclusions: '*.git* /*node_modules/*'
    - name: Create Draft Release
      id: create_release
      uses: ncipollo/release-action@v1.11.1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: "v${{steps.determine_version.outputs.version}}"
        draft: false
        prerelease: true
